:root{
    font-size: 10px;
}

body {
    display: flex;
    background-image: url('Resources/Background Image.png');
    background-size: cover;
    height: 90vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* LOGIN PAGE */

#loginFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 26.3vw;
    height: 66.8vh;
    border: 2px solid darkgrey;
}

.inputField {
    height: 4.1vh;
    width: 21vw;
    display: block;
}

#logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 12.3vh;
    border: 2px solid darkgrey;
}

#usernameInput {
    margin-bottom: 3.1vh;
    font-size: 1.6rem;
}

#passwordInput {
    margin-bottom: 1.54vh;
    font-size: 1.6rem;
}

#rememberMeContainer {
    transform: translateX(-7.1vw);
    flex-direction: row;
    margin-bottom: 5.1vh;
    font-size: 2.0rem;
    color: #686868;
}

.submitButton {
    width: 9.5vw;
    height: 5.1vh;
    background-color: #686868;
    border-style: none;
    color: ghostwhite;
    font-size: 2.2rem;
}

.submitButton:hover {
    background-color: #484848;
}

/* ANNOUNCEMENTS PAGE */

#Announcements {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
}

#posts {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
}

#heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.95);
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#titleCard {
    font-size: 6.0rem;
}

#submitAnnouncement {
    bottom: 0;
    width: 55%;
    padding-bottom: 2vh;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#inputAnnouncement {
    width: 75%;
    height: 3.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0);
    height: auto;
}

#sendAnnouncement {
    width: 15%;
    height: 4.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 2.0rem;
    margin-right: 0.5vw;
    background-color: #838383;
    border-style: none;
    color: whitesmoke;
}

#navigation {
    flex-direction: column;
    width: 45%;
    height: 100%;
}

#listAnnouncements {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    gap: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 80%;
}

#bodyPost {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 3.1vh;
    background-color: whitesmoke;
    color: #868686;
    border: solid 1px;
    border-radius: 10px;
}

#fullName {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

#navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navButton {
    background-color: rgb(150,163,167,0.7);
    border-style: none;
    width: 26.3vw;
    height: 10.3vh;
    color: whitesmoke;
    font-size: 3.0rem;
    margin: 50px;
}

.navButton:hover {
    background-color: rgb(150,163,167,0.95);
}

.navMinor {
    background-color: rgb(255, 255, 255, 0);
    position: absolute;
    font-size: 2.0rem;
    color: blue;
    text-decoration: underline;
    border-style: none;
}

#logOut {
    right: 0.79vw;
    bottom: 1.5vh;
}

#welcome {
    font-size: 4.0rem;
    color: whitesmoke;
}

#nameButton {
    border-style: none;
    height: 5.1vh;
    width: auto;
    font-size: 4.0rem;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255, 0);
    text-decoration: underline;
}

#nameButton:hover {
    color: #A8A8A8;
}

.profile {
    display: inline-flex;
    background-color: whitesmoke;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 100px;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 1.6vw;
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
}

/* MARKBOOK PAGE */

#Markbook {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#filters {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
}

#marks {
    width: 54%;
    display: flex;
    flex-direction: column;
    margin: 3%;
    background-color: rgb(150,163,167,0.4);
    align-items: center;
    justify-content: center;
}

#guide {
    font-size: 3.0rem;
    text-decoration: underline;
    height: 15%;
    width: 100%;
    text-align: center;
    align-content: center;
    color: #868686;
    font-weight: lighter;
}

.dropList {
    border-style: none;
    width: 50%;
    height: 10%;
    margin-bottom: 5%;
    background-color: #868686;
    color: whitesmoke;
    text-align: center;
    font-size: 2.5rem;
    appearance: none;
}

#exitButton {
    left: 0.79vw;
    bottom: 1.5vh;
}

#markButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8.2vh;
    height: 12%
}

.markButton {
    align-items: center;
    padding-left: 2.1vw;
    padding-right: 2.1vw;
    height: 5.1vh;
    background-color: #868686;
    color: whitesmoke;
    font-size: 2.0rem;
    border-style: none;
    margin-top: 2vh;
}

#markHeader {
    font-size: 4.0rem;
    text-decoration: underline;
    height: 12%;
    width: 100%;
    text-align: center;
    align-content: center;
    color: whitesmoke;
    font-weight: lighter;
}

#markbookView {
    margin: auto;
    display: flex;
    align-self: center;
    width: 90%;
}

#markbookView td {
    padding: 4px;
    text-align: center;
    border: 1px solid;
    border-color: whitesmoke;
    font-size: 2.2rem;
    color: whitesmoke;
    font-weight: bold;
}

    #markbookView th {
        padding: 4px;
        text-align: center;
        border: 2px solid;
        border-color: whitesmoke;
        font-size: 2.7rem;
        color: whitesmoke;
        font-weight: bold;
    }

.tableEdit {
    background-color: rgb(255, 255, 255, 0);
    border-style: none;
    text-align: center;
    font-size: 2.2rem;
    width: 50%;
    color: whitesmoke;
    font-weight: bold;
}

#results {
    width: 100%;
    height: 76%;
    overflow-y: scroll;
}

/* Report Page */

#reportView {
    margin: auto;
    display: flex;
    align-self: center;
    width: 68%;
}

#reportView td {
    padding: 4px;
    text-align: center;
    border: 1px solid;
    border-color: whitesmoke;
    font-size: 2.2rem;
    color: whitesmoke;
    font-weight: bold;
}

    #reportView th {
        padding: 4px;
        text-align: center;
        border: 2px solid;
        border-color: whitesmoke;
        font-size: 2.7rem;
        color: whitesmoke;
        font-weight: bold;
    }

#Report {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#finalReportView {
    margin: auto;
    display: flex;
    align-self: center;
    width: 58%;
}

    #finalReportView td {
        padding: 4px;
        text-align: center;
        border: 1px solid;
        border-color: whitesmoke;
        font-size: 2.2rem;
        color: whitesmoke;
        font-weight: bold;
    }

    #finalReportView th {
        padding: 4px;
        text-align: center;
        border: 2px solid;
        border-color: whitesmoke;
        font-size: 2.7rem;
        color: whitesmoke;
        font-weight: bold;
    }

#comments {
    width: 100%;
    padding-bottom: 2vh;
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#commentSubmit {
    width: 15%;
    height: 4.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 20px;
    margin-right: 0.5vw;
    background-color: #838383;
    border-style: none;
    color: whitesmoke;
}

#commentBox {
    width: 75%;
    height: 3.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0);
    height: auto;
}

/* All Students */

#AllStudents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
}

#headerAllStudents {
    width: 100%;
    height: 10%;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

#header {
    height: 100px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 6.0rem;
}

#filterAllStudents {
    height: 10%;
    width: 76%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
}

#listAllStudents {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150,163,167,0.4);
    padding: 3%;
    overflow-y: scroll;
}

#navbuttonsAllStudents {
    height: 10%;
    width: 100%;
}

#searchStudents {
    width: 30%;
    height: 3.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: whitesmoke;
    height: auto;
    margin-right: 39%;
}

#gradeStudent {
    border-style: none;
    width: 13%;
    height: 80%;
    background-color: #868686;
    color: whitesmoke;
    text-align: center;
    font-size: 2.5rem;
    appearance: none;
    margin-right: 3%;
}

#classStudent {
    border-style: none;
    width: 13%;
    height: 80%;
    background-color: #868686;
    color: whitesmoke;
    text-align: center;
    font-size: 2.5rem;
    appearance: none;
}

#postAllStudents {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    background-color: whitesmoke;
    color: #868686;
    border: solid 1px;
    border-radius: 10px;
    justify-content: space-between;
    font-size: 2.5rem;
}

#studentName {
    display: flex;
    margin-right: 70%;
    width: 20%;
}

.expandButton {
    width: 20px;
    height: 20px;
    align-self: center;
}

#detailBackground {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
}

#displayTable {
    width: 100%;
    border-collapse: collapse;
}

#displayTable td {
    text-align: center;
    vertical-align: middle;
}

#displayTable input[type="text"] {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

.popup {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 30%;
    height: 30%;
    border: 2px solid darkgrey;
    border-radius: 10px;
}

#popup2 {
    height: 80%;
}

.popupHeading {
    font-size: 3.0rem;
    margin-top: 3%;
    height: 20%;
}

#popupHeading2{
    height: 5%;
}

#popupText {
    font-size: 2.0rem;
    margin-bottom: 10%;
    height: 20%
}

#popupButtons {
    justify-content: space-between;
    text-align: center;
    width: 90%;
    height: 40%;
}

#confirm {
    width: 9.5vw;
    height: 5.1vh;
    background-color: #464646;
    border-style: none;
    color: ghostwhite;
    font-size: 2.2rem;
}

#cancel {
    width: 9.5vw;
    height: 5.1vh;
    background-color: #ABABAB;
    border-style: none;
    color: ghostwhite;
    font-size: 2.2rem;
}

#confirm:hover {
    background-color: darkred;
}

#cancel:hover {
    background-color: #989898;
}

.deleteButton {
    margin: 1%;
    width: 10%;
    height: 70%;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    margin-right: 0.5vw;
    background-color: white;
    color: darkred;
}

.deleteButton:hover {
    background-color: darkred;
    color: white;
}

.editButton {
    margin: 1%;
    width: 10%;
    height: 70%;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.5vw;
    background-color: white;
    color: #868686;
}

.editButton:hover {
    background-color: #646464;
    color: white;
}

#Classes {
    display: flex;
    height: 12%;
    align-items: center;
    justify-content: space-between;
}

#navbuttonsAllStudents {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#addStudent {
    width: 5%;
    height: 4.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 2.0rem;
    margin-right: 0.5vw;
    background-color: #838383;
    border-style: none;
    color: whitesmoke;
    position: absolute;
    right: 10.8%;
    bottom: 1.5vh;
}

#addStudent:hover {
    background-color: #616161;
}

#studentClasses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classChange {
    margin: 1%;
    width: 10%;
    height: 30px;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.5vw;
    background-color: white;
    color: #868686;
}

.classChange:hover {
    background-color: #646464;
    color: white;
}

.addRemove {
    background-color: #868686;
    color: whitesmoke;
    width: 30%;
    height: 100%;
    border-style: none;
    margin-left: 1vw;
}
.addRemove:hover {
    background-color: #424242;
}

#buttonHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1vh;
    width: 100%;
    margin-top: 3%;
}

#cancelChanges {
    height: 50%;
    width: 40%;
    background-color: #ABABAB;
    border-style: none;
    color: ghostwhite;
    font-size: 2.0rem;
    padding: 5px;
}

#cancelChanges:hover {
    background-color: #868686
}

#emptyDiv {
    width: 31%;
    padding: 3px;
    margin-right: 3%;
    justify-content: center;
    align-items: center;
}

#showNewLabel {
    font-size: 2.5rem;
    width: 25%;
}

/* ADMIN PAGE */
#AdminPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
}

#filterAllStaff {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#searchStaff {
    width: 30%;
    height: 3.1vh;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    padding: 10px;
    background-color: whitesmoke;
    height: auto;
}

#postAllStaff {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    background-color: whitesmoke;
    color: #868686;
    border: solid 1px;
    border-radius: 10px;
    justify-content: space-between;
    font-size: 2.5rem;
}

.deleteButton2 {
    margin: 1%;
    width: 10%;
    height: 200%;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    margin-right: 0.5vw;
    background-color: white;
    color: darkred;
}

.deleteButton2:hover {
    background-color: darkred;
    color: white;
}

.editButton2 {
    margin: 1%;
    width: 10%;
    height: 200%;
    border: solid 1px;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.5vw;
    background-color: white;
    color: #868686;
}

.editButton2:hover {
    background-color: #646464;
    color: white;
}

#Classes2 {
    display: flex;
    margin-top: 5%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}